<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Type</key>
	<dict>
		<key>Prefix</key>
		<dict>
			<key>Any</key>
			<dict>
				<key>0</key>
				<string>任意</string>
			</dict>
			<key>Monster</key>
			<dict>
				<key>0</key>
				<string>任意</string>
				<key>16</key>
				<string>通常</string>
				<key>32</key>
				<string>效果</string>
				<key>64</key>
				<string>融合</string>
				<key>128</key>
				<string>仪式</string>
				<key>8192</key>
				<string>同调</string>
				<key>8388608</key>
				<string>超量</string>
			</dict>
			<key>Spell</key>
			<dict>
				<key>0</key>
				<string>任意</string>
				<key>65536</key>
				<string>速攻</string>
				<key>131072</key>
				<string>永续</string>
				<key>262144</key>
				<string>装备</string>
				<key>128</key>
				<string>仪式</string>
				<key>524288</key>
				<string>场地</string>
			</dict>
			<key>Trap</key>
			<dict>
				<key>0</key>
				<string>任意</string>
				<key>1048576</key>
				<string>反击</string>
				<key>131072</key>
				<string>永续</string>
			</dict>
		</dict>
		<key>Type</key>
		<dict>
			<key>0</key>
			<string>卡片</string>
			<key>1</key>
			<string>怪兽</string>
			<key>2</key>
			<string>魔法</string>
			<key>4</key>
			<string>陷阱</string>
		</dict>
	</dict>
	<key>Detail</key>
	<dict>
		<key>Additional</key>
		<dict>
			<key>0</key>
			<string>任意子类</string>
			<key>2097152</key>
			<string>反转</string>
			<key>512</key>
			<string>灵魂</string>
			<key>1024</key>
			<string>同盟</string>
			<key>2048</key>
			<string>二重</string>
			<key>4096</key>
			<string>调整</string>
			<key>16384</key>
			<string>衍生物</string>
			<key>4194304</key>
			<string>卡通</string>
		</dict>
		<key>Attribute</key>
		<dict>
			<key>0</key>
			<string>任意属性</string>
			<key>1</key>
			<string>地</string>
			<key>2</key>
			<string>水</string>
			<key>4</key>
			<string>火</string>
			<key>8</key>
			<string>风</string>
			<key>16</key>
			<string>光</string>
			<key>32</key>
			<string>暗</string>
			<key>64</key>
			<string>神</string>
		</dict>
		<key>Race</key>
		<dict>
			<key>0</key>
			<string>任意种族</string>
			<key>1</key>
			<string>战士</string>
			<key>2</key>
			<string>魔法使</string>
			<key>4</key>
			<string>天使</string>
			<key>8</key>
			<string>恶魔</string>
			<key>16</key>
			<string>不死</string>
			<key>32</key>
			<string>机械</string>
			<key>64</key>
			<string>水</string>
			<key>128</key>
			<string>炎</string>
			<key>256</key>
			<string>岩石</string>
			<key>512</key>
			<string>鸟兽</string>
			<key>1024</key>
			<string>植物</string>
			<key>2048</key>
			<string>昆虫</string>
			<key>4096</key>
			<string>雷</string>
			<key>8192</key>
			<string>龙</string>
			<key>16384</key>
			<string>兽</string>
			<key>32768</key>
			<string>兽战士</string>
			<key>65536</key>
			<string>恐龙</string>
			<key>131072</key>
			<string>鱼</string>
			<key>262144</key>
			<string>海龙</string>
			<key>524288</key>
			<string>爬行</string>
			<key>1048576</key>
			<string>念动力</string>
			<key>2097152</key>
			<string>幻兽神</string>
			<key>4194304</key>
			<string>创世神</string>
		</dict>
	</dict>
	<key>Category</key>
	<dict>
		<key>0</key>
		<string>任意效果</string>
		<key>1</key>
		<string>魔陷破坏</string>
		<key>2</key>
		<string>怪兽破坏</string>
		<key>4</key>
		<string>卡片除外</string>
		<key>8</key>
		<string>送去墓地</string>
		<key>16</key>
		<string>返回手卡</string>
		<key>32</key>
		<string>返回卡组</string>
		<key>64</key>
		<string>手札破坏</string>
		<key>128</key>
		<string>卡祖破坏</string>
		<key>256</key>
		<string>抽卡辅助</string>
		<key>512</key>
		<string>卡组检索</string>
		<key>1024</key>
		<string>卡片回收</string>
		<key>2048</key>
		<string>表示形式</string>
		<key>4096</key>
		<string>控制权</string>
		<key>8192</key>
		<string>攻守变化</string>
		<key>16384</key>
		<string>穿刺伤害</string>
		<key>32768</key>
		<string>多次攻击</string>
		<key>65536</key>
		<string>攻击限制</string>
		<key>131072</key>
		<string>直接攻击</string>
		<key>262144</key>
		<string>特殊召唤</string>
		<key>524288</key>
		<string>衍生物</string>
		<key>1048576</key>
		<string>种族相关</string>
		<key>2097152</key>
		<string>属性相关</string>
		<key>4194304</key>
		<string>LP伤害</string>
		<key>8388608</key>
		<string>LP回复</string>
		<key>16777216</key>
		<string>破坏耐性</string>
		<key>33554432</key>
		<string>效果耐性</string>
		<key>67108864</key>
		<string>指示物</string>
		<key>134217728</key>
		<string>幸运</string>
		<key>268435456</key>
		<string>融合相关</string>
		<key>536870912</key>
		<string>同调相关</string>
		<key>1073741824</key>
		<string>超量相关</string>
	</dict>
</dict>
</plist>
